- name: This sets up an httpd webserver
  hosts: aws_ec2
  become: yes
  remote_user: ec2-user
  gather_facts: true

  vars:
    ansible_ssh_private_key_file: "/etc/ansible/ansible-jenkins.pem"

  tasks:

    - name: Install required packages
      package:
        name:
          - httpd
          - php
          - unzip
          - wget
        state: present

    - name: Copy code from website
      get_url:
        url: https://freewebsitetemplates.com/preview/rehabilitation-yoga/
        dest: /var/www/html/index.php

    - name: Start httpd service
      service:
        name: httpd
        state: started
        enabled: yes

    - name: Install terraform
      unarchive:
        src: https://releases.hashicorp.com/terraform/1.6.6/terraform_1.6.6_linux_amd64.zip
        dest: /usr/local/bin/
        remote_src: yes
